<%-include('menu')%>
<h1>contact</h1>
<form action="/process" method="post">
   No 1: <input type="text" name="text1" required/>
   No 2 :<input type="text" name="text2" required/>
   <input type="submit"/>

</form>